
<div class="average-rating rating-{{rating}} text-center">Strongly Agree</div>
<div ng-switch="rating">
  <div ng-switch-when="1" class="rating-stars text-center">
    <i class="fa fa-star rating-1" aria-hidden="true"></i>
    <i class="fa fa-star no-rating" aria-hidden="true"></i>
    <i class="fa fa-star no-rating" aria-hidden="true"></i>
    <i class="fa fa-star no-rating" aria-hidden="true"></i>
    <i class="fa fa-star no-rating" aria-hidden="true"></i>
  </div>
  <div ng-switch-when="2" class="rating-stars text-center">
    <i class="fa fa-star rating-1" aria-hidden="true"></i>
    <i class="fa fa-star rating-2" aria-hidden="true"></i>
    <i class="fa fa-star no-rating" aria-hidden="true"></i>
    <i class="fa fa-star no-rating" aria-hidden="true"></i>
    <i class="fa fa-star no-rating" aria-hidden="true"></i>
  </div>
  <div ng-switch-when="3" class="rating-stars text-center">
    <i class="fa fa-star rating-1" aria-hidden="true"></i>
    <i class="fa fa-star rating-2" aria-hidden="true"></i>
    <i class="fa fa-star rating-3" aria-hidden="true"></i>
    <i class="fa fa-star no-rating" aria-hidden="true"></i>
    <i class="fa fa-star no-rating" aria-hidden="true"></i>
  </div>
  <div ng-switch-when="4" class="rating-stars text-center">
    <i class="fa fa-star rating-1" aria-hidden="true"></i>
    <i class="fa fa-star rating-2" aria-hidden="true"></i>
    <i class="fa fa-star rating-3" aria-hidden="true"></i>
    <i class="fa fa-star rating-4" aria-hidden="true"></i>
    <i class="fa fa-star no-rating" aria-hidden="true"></i>
  </div>
  <div ng-switch-when="5" class="rating-stars text-center">
    <i class="fa fa-star rating-1" aria-hidden="true"></i>
    <i class="fa fa-star rating-2" aria-hidden="true"></i>
    <i class="fa fa-star rating-3" aria-hidden="true"></i>
    <i class="fa fa-star rating-4" aria-hidden="true"></i>
    <i class="fa fa-star rating-5" aria-hidden="true"></i>
  </div>
</div>
