<div ng-show="spinner" class="spinner affix">
<i class="fa fa-spinner fa-spin"></i></div>
<div class="page-header">
  <h1>{{surveyDetail.name}} <small>Paticipation: {{surveyDetail.response_rate * 100 | number:0}}%</small></h1>
  <div ng-show="error" class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> An error occurred during loading data, please try after sometime</div>
</div>
<article ng-repeat="theme in surveyDetail.themes">
  <ul class="survey-results list-group">
    <li class="list-group-item">
      <h4 class="h4">{{theme.name}}</h4>
    </li>
    <li class="result-item list-group-item" ng-repeat="question in theme.questions">
      <div class="col-sm-10 question-title">
        <strong>Q{{$index+1}}.</strong> {{question.description}}
      </div>
      <div class="col-sm-2 text-right">
        <div class="inline-block" average-rating rating="{{ question.survey_responses | average}}"></div>
      </div>
    </li>
  </ul>
</article>
